In [1]:
import pandas as pd

# Criando um DataFrame de exemplo para manipulação
dados = {
    "ID_COLABORADOR": [101, 101, 102, 102, 101, 103, 103, 102, 101],
    "DATA INICIO SERVICO": [
        "2024-01-05", "2024-02-10", "2024-01-20", "2024-02-25",
        "2024-03-15", "2024-03-10", "2024-03-20", "2024-03-25", "2024-04-01"
    ],
    "DESCRICAO DE SERVICO": [
        "Troca de Óleo", "Alinhamento", "Troca de Óleo", "Balanceamento",
        "Troca de Pneu", "Troca de Óleo", "Freio", "Balanceamento", "Troca de Óleo"
    ]
}

# Convertendo para DataFrame
df_os_mecanico = pd.DataFrame(dados)

# Convertendo a coluna de data para datetime
df_os_mecanico["DATA INICIO SERVICO"] = pd.to_datetime(df_os_mecanico["DATA INICIO SERVICO"])

df_os_mecanico

   ID_COLABORADOR DATA INICIO SERVICO DESCRICAO DE SERVICO
0             101          2024-01-05        Troca de Óleo
1             101          2024-02-10          Alinhamento
2             102          2024-01-20        Troca de Óleo
3             102          2024-02-25        Balanceamento
4             101          2024-03-15        Troca de Pneu
5             103          2024-03-10        Troca de Óleo
6             103          2024-03-20                Freio
7             102          2024-03-25        Balanceamento
8             101          2024-04-01        Troca de Óleo

In [6]:
len(df_os_mecanico['DESCRICAO DE SERVICO'].value_counts().index)

5